<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../public/css/changebg/3D.css">

</head>
<body>

<div id="midground" class="wall"></div> 
<div id="foreground" class="wall"></div> 

<div class="wrap">

	<img src="../../public/images/3D/a.jpg" alt="" class="box">
	<img src="../../public/images/3D/b.jpg" alt="" class="box">
	<img src="../../public/images/3D/c.jpg" alt="" class="box">
	<img src="../../public/images/3D/d.jpg" alt="" class="box">
	<img src="../../public/images/3D/e.jpg" alt="" class="box">
	<img src="../../public/images/3D/f.jpg" alt="" class="box"> 
	
	<img src="../../public/images/3D/g.jpg" alt="" class="square ">
	<img src="../../public/images/3D/h.jpg" alt="" class="square ">
	<img src="../../public/images/3D/i.jpg" alt="" class="square ">
	<img src="../../public/images/3D/j.jpg" alt="" class="square "> 
	<img src="../../public/images/3D/k.jpg" alt="" class="square ">
	<img src="../../public/images/3D/l.jpg" alt="" class="square ">
	
</div>
<div id="menu">
	<a id="btStartAudioVisualization" class="bt">启动音频可视化</a>
	<input id="btLoadAudio" type="file" accept="audio/*"/><label id="labelLoadAudio" for="btLoadAudio" class="bt">加载音频</label>
</div>
<p id="txtStatus"></p>
<script src="../../public/js/musicbg.js"></script>
</body>
</html>